# Basic Session 4차시 과제

## 난이도 하 (35점)

**Q1.** 다음 하위 문제를 푸세요. (총 6점)
1) `math`라는 모듈의 `exp`를 불러오세요. (1점)

In [1]:
from math import exp

2) -10에서 10까지의 정수 리스트를 만드세요. (2점)

In [7]:
ten = list(range(-10,11))
ten

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

3) map과 lambda를 이용하여 $y=\frac{1}{1+exp(-x)}$인 실수 리스트를 만드세요. (3점)

In [8]:
y = list(map(lambda x : 1/(1+exp(-x)), ten ))
y

[4.5397868702434395e-05,
 0.00012339457598623172,
 0.0003353501304664781,
 0.0009110511944006454,
 0.0024726231566347743,
 0.0066928509242848554,
 0.01798620996209156,
 0.04742587317756678,
 0.11920292202211755,
 0.2689414213699951,
 0.5,
 0.7310585786300049,
 0.8807970779778823,
 0.9525741268224334,
 0.9820137900379085,
 0.9933071490757153,
 0.9975273768433653,
 0.9990889488055994,
 0.9996646498695336,
 0.9998766054240137,
 0.9999546021312976]

**Q2.** 2개의 숫자 x, y를 입력으로 받아 `x*y, x/y`를  튜플 형태로 반환하는 함수를 만드세요. (3점)

In [3]:
def q_2():
    x = int(input('x를 입력하세요 : '))
    y = int(input('y를 입력하세요 : '))
    answer = (x*y, x/y)
    return answer

q_2()

x를 입력하세요 : 2
y를 입력하세요 : 4

(8, 0.5)

**Q3.** 파이썬 내장함수 max를 사용하지 않고 다음 리스트의 원소가 들어왔을 때 가장 큰 값을 반환하는 함수를 만드세요. (5점)

In [4]:
lst = [1, 4, 17, 5, 12, 6, 9]

In [6]:
def q_3(list):
    list = sorted(list)
    max = list[-1]
    return max

q_3(lst)

17

**Q4.** 가변 매개변수를 사용하여 입력받은 인자가 몇개인지 반환하는 함수를 만들고, x를 임의로 넣어 함수를 실행하세요. (5점)

In [5]:
def q_4(*x):
    return len(x)

q_4(1, 2, 3, [1, 2, 3])

4

**Q5.** 다음 클래스 코드를 보고 다음 하위 문제를 푸세요. (총 6점)

In [13]:
class Smartphone:
    smartphone_count = 0
    def __init__(self, your_brand):
        self.brand = your_brand
        Smartphone.smartphone_count += 1
    def phone_color(self, your_color):
        self.color = your_color

1) 클래스명을 찾아 쓰세요. (1점)

In [ ]:
# 답 : Smartphone

2) 클래스 변수와 인스턴스 변수를 찾아 쓰세요. (1점)

In [ ]:
# 클래스 변수 : smartphone_count
# 인스턴스 변수 : brand, color

3) 메소드를 찾아 쓰세요. (1점)

In [ ]:
# 답 : phone_color  // 생성자 메소드 : __init__

4) $a = Smartphone('Samsung')$ 다음과 같이 클래스를 선언하면 코드가 어떻게 돌아가는지 쓰세요. (3점)

In [ ]:
# 답 : Samsung이라는 brand를 가진 객체 a가 생성되며 클래스 변수인 smartphone_count가 +1이 된다.

**Q6.** zip()을 사용하여 ['a','b','c','d']라는 리스트를 {0:'a', 1:'b', 2:'c', 3:'d'}라는 딕셔너리로 바꾸세요. (5점)

In [20]:
q_6 = ['a', 'b', 'c', 'd']

dic_6 = dict(zip([0, 1, 2, 3], q_6))
dic_6

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

**Q7.** enumerate()를 사용하여 ['a','b','c','d']라는 리스트를 {20:'a', 21:'b', 22:'c', 23:'d'}라는 딕셔너리로 바꾸세요. (5점)

In [23]:
q_7 = ['a', 'b', 'c', 'd']

dic_7 = dict(enumerate(q_7, 20))
dic_7

{20: 'a', 21: 'b', 22: 'c', 23: 'd'}

## 난이도 중 (25점)

**Q8.** `장바구니` 딕셔너리는 묶음 단위로 구매한 내역을 입력해놓은 것이다. 귤과 양파는 한 묶음당 여러개가 들어있는데 `귤 묶음 수`는 한 묶음당 귤의 갯수이며, `양파 묶음 수`는 한 묶음당 양파의 갯수이다.  
`귤과 양파의 묶음 수`와 `장바구니`를 입력으로 받아 과일과 야채의 갯수를 튜플 형식으로 반환하는 함수를 만들고 결과값을 출력하세요. (9점)

    장바구니 = {'귤':3, '사과':2, '딸기':8, '오이':1, '양파':6, '당근':4}
    귤 묶음 수 = 3
    양파 묶음 수 = 2
    
<font color=blue> hint : 일반 매개변수와 키워드인자의 packing/unpacking </font>

In [24]:
def q_8(dic):
    tc = int(input('귤 묶음 수를 입력하세요 : '))
    oc = int(input('양파 묶음 수를 입력하세요 : '))
    
    dic['귤'] = dic['귤']*tc
    dic['양파'] = dic['양파']*oc
    result = tuple(dic.items())
    
    return result

    
b = {'귤':3, '사과':2, '딸기':8, '오이':1, '양파':6, '당근':4}
q_8(b)

귤 묶음 수를 입력하세요 : 3
양파 묶음 수를 입력하세요 : 2

(('귤', 9), ('사과', 2), ('딸기', 8), ('오이', 1), ('양파', 12), ('당근', 4))

In [27]:
#다른 출력 방법 풀이
def q_8(dic):
    tc = int(input('귤 묶음 수를 입력하세요 : '))
    oc = int(input('양파 묶음 수를 입력하세요 : '))
    
    dic['귤'] = dic['귤']*tc
    dic['양파'] = dic['양파']*oc

    for i in dic:
        print((i, dic[i]),',', end = ' ')
    
b = {'귤':3, '사과':2, '딸기':8, '오이':1, '양파':6, '당근':4}
q_8(b)

귤 묶음 수를 입력하세요 : 3
양파 묶음 수를 입력하세요 : 2
('귤', 9) , ('사과', 2) , ('딸기', 8) , ('오이', 1) , ('양파', 12) , ('당근', 4) ,

**Q9.** 다음 딕셔너리를 사용하여 하위 문제를 푸세요. (총 16점)

In [66]:
member = [
    {'name' : '노진구', 'type' : '인간', 'sex' : '남'},
    {'name' : '신이슬', 'type' : '인간', 'sex' : '여'},
    {'name' : '도라에몽', 'type' : '고양이', 'sex' : '남'},
    {'name' : '도라미', 'type' : '고양이', 'sex' : '여'}
]

1) type이 인간인 경우 name을 성과 이름으로 나누어 튜플로 묶은 후 리스트에 모아 해당 리스트를 반환하는 함수를 정의하고, member를 입력으로 하여 함수의 결과값을 출력하세요. (8점)    

    [('노','진구'),('신','이슬')]
    
<font color=blue> hint : for, if </font>

In [67]:
def q_9_1(m):
    answer_9_1 = []
    for i in m:
        if (i['type'] == '인간'):
            a = str(i['name'][0])
            b = str(i['name'][1:3])
            answer_9_1.append((a,b))
            
    return answer_9_1

q_9_1(member)

[('노', '진구'), ('신', '이슬')]

2) member의 sex가 "남"이면 "M", "여"이면 "F"로 바꾸세요. (8점)

    [{'name' : '노진구', 'type' : '인간', 'sex' : 'M'},
     {'name' : '신이슬', 'type' : '인간', 'sex' : 'F'},
     {'name' : '도라에몽', 'type' : '고양이', 'sex' : 'M'},
     {'name' : '도라미', 'type' : '고양이', 'sex' : 'F'}]

In [68]:
def q_9_2(m):
    answer_9_2 = []
    for i in m:
        if (i['sex'] == '남'):
            i['sex'] = 'M'
        else:
            i['sex'] = 'F'
        answer_9_2.append(i)
        
    return answer_9_2

q_9_2(member)

[{'name': '노진구', 'type': '인간', 'sex': 'M'},
 {'name': '신이슬', 'type': '인간', 'sex': 'F'},
 {'name': '도라에몽', 'type': '고양이', 'sex': 'M'},
 {'name': '도라미', 'type': '고양이', 'sex': 'F'}]

## 난이도 상 (40점)

**Q10.** 369게임을 사용자정의함수를 이용해 만들고 40까지 출력하세요.  (10점)  

    [1, 2, '짝', 4, 5, '짝', 7, 8, '짝', 10, 11, 12, '짝', 14, 15, '짝', 17, 18, '짝', 20, 21, 22, '짝', 24, 25, '짝', 27, 28, '짝', '짝', '짝', '짝', '짝짝', '짝', '짝', '짝짝', '짝', '짝', '짝짝', 40]

In [75]:
def q_10():
    game = []
    
    for i in range(1,41):
        n = 0
        x = str(i)
        
        if ('3' in x) or ('6' in x) or ('9' in x):
            n += x.count('3')
            n += x.count('6')
            n += x.count('9')
            game.append('짝'*n)
        else:
            game.append(x)
    
    return game
        
q_10()

['1',
 '2',
 '짝',
 '4',
 '5',
 '짝',
 '7',
 '8',
 '짝',
 '10',
 '11',
 '12',
 '짝',
 '14',
 '15',
 '짝',
 '17',
 '18',
 '짝',
 '20',
 '21',
 '22',
 '짝',
 '24',
 '25',
 '짝',
 '27',
 '28',
 '짝',
 '짝',
 '짝',
 '짝',
 '짝짝',
 '짝',
 '짝',
 '짝짝',
 '짝',
 '짝',
 '짝짝',
 '40']

**Q11.** 다음은 학생 명단과 학생들의 점수이다. 학생과 점수를 묶어 dict 형식으로 만들고 점수순대로 정렬하고, 본인이 작성한 코드를 해석하세요. (10점)   
    
    student = ['짱구','맹구','훈이','철수','유리]
    score = [72, 85, 67, 90, 88]
    
    [결과]
    {'훈이': 67, '짱구': 72, '맹구': 85, '유리': 88, '철수': 90}
    
<font color=blue> hint : 딕셔너리 value 기준으로 정렬, 딕셔너리 컴프리핸션 </font>

In [87]:
student = ['짱구','맹구','훈이','철수','유리']
score = [72, 85, 67, 90, 88]


#두 리스트를 dict 형식으로 만들기 
dic = {k:v for k, v in zip(student, score)}

#점수순대로 정렬 
#람다함수 사용: value를 기준으로 정렬하기 위해 정렬기준 key값으로 x[1]을 사용
result_11 = sorted(dic.items(), key = lambda x: x[1]) 
result_11

[('훈이', 67), ('짱구', 72), ('맹구', 85), ('유리', 88), ('철수', 90)]

**Q12.** 아래의 조건과 같은 class `Race`을 구현하세요. (총 20점)  

    조건 1 : car_type, speed, wheel_count 3개의 클래스 변수를 가지며, car_type은 문자형, speed와 wheel_count 숫자형이다. (2점)   
       
    조건 2 : 각 클래스 변수의 초기값은 car_type은 cycle, speed는 7, wheel_count는 4이다. (3점)   
       
    조건 3 : car_type을 변경할 수 있는 change라는 메소드를 갖는다. 자동차 번호를 입력받아 변경할 수 있으며 자동차 번호로 0은 cycle, 1은 small_car, 2는 big_car, 3은 racing_car로 변경할 수 있다. 3을 초과할 경우 경고 메세지를 출력한다. (5점)      
       
    조건 4 : car의 바퀴 수를 설정할 수 있는 car_wheel이라는 메소드를 갖는다. wheel의 수를 입력받아 설정할 수 있으며 car_type이 cycle인 경우 최대 wheel 수는 4이고, 나머지의 경우 최소 wheel 수는 4, 최대 wheel 수는 10이며, 짝수만 가능하다. 조건에 부합하지 않는 경우 경고 메세지를 출력한다. (5점)      
       
    조건 5 : speed를 조절할 수 있는 car_speed라는 메소드를 갖는다. speed 값을 입력받아 그 값이 양수이면 현재 speed를 그 수만큼 올려주고, 음수이면 현재 speed에서 그 수만큼 줄여준다. 단, speed가 0 이하일 수 없으며, 0 이하가 될 경우 경고 메세지를 출력한다. (5점)

In [134]:
class Race:
    car_type = 'cycle'
    speed = 7
    wheel_count = 4
    def __init__(self):
        print(f'car_type : {self.car_type} , speed : {self.speed} , wheel_count : {self.wheel_count} ')
    def change(self):
        number = int(input('자동차 번호를 입력하세요 : ')) 
        if number>3:
            print('잘못 입력하셨습니다.')
        else:
            if number == 0:
                self.car_type = 'cycle'
            elif number == 1:
                self.car_type = 'small_car'
            elif number == 2:
                self.car_type = 'bic_car'
            elif number == 3:
                self.car_type = 'racing_car'
        print(f'car_type : {self.car_type} , speed : {self.speed} , wheel_count : {self.wheel_count} ')

    def car_wheel(self):
        wheel = int(input('바퀴 수를 입력하세요 : '))
        if self.car_type == 'cycle':
            if not (0<=wheel<=4):
                print('바퀴 수가 조건에 맞지 않습니다.')
            else:
                self.wheel_count = wheel
        else:
            if not ((4<=wheel<=10)and(wheel%2==0)):
                print('바퀴 수가 조건에 맞지 않습니다.')
            else:
                self.wheel_count = wheel
        
        print(f'car_type : {self.car_type} , speed : {self.speed} , wheel_count : {self.wheel_count} ')

    def car_speed(self):
        s = int(input('속도를 입력하세요 : ')) 
        self.speed += s
        
        if self.speed<=0:
            print('speed가 0 이하입니다.')
            
        print(f'car_type : {self.car_type} , speed : {self.speed} , wheel_count : {self.wheel_count} ')

In [135]:
a=Race()

car_type : cycle , speed : 7 , wheel_count : 4

In [136]:
a.change()

자동차 번호를 입력하세요 : 3
car_type : racing_car , speed : 7 , wheel_count : 4

In [137]:
a.car_wheel()

바퀴 수를 입력하세요 : 7
바퀴 수가 조건에 맞지 않습니다.
car_type : racing_car , speed : 7 , wheel_count : 4

In [138]:
a.car_wheel()

바퀴 수를 입력하세요 : 8
car_type : racing_car , speed : 7 , wheel_count : 8

In [139]:
a.car_speed()

속도를 입력하세요 : 5
car_type : racing_car , speed : 12 , wheel_count : 8

In [140]:
a.car_speed()

속도를 입력하세요 : -4
car_type : racing_car , speed : 8 , wheel_count : 8

In [141]:
a.car_speed()

속도를 입력하세요 : -3
car_type : racing_car , speed : 5 , wheel_count : 8